<div class="certificates">
  <div class="title">Certificate</div>
  <div class="content">
    <!-- IEC 62304 -->
    <div class="certificate">
      <img src="assets/resume/Certificate-IEC62304.png">
      <div class="certificate-title">IEC 62304</div>
      <div class="certificate-subtitle">Software Life Cycle Management.</div>
    </div>
    <!-- ISO14971:2019 -->
    <div class="certificate">
      <img src="assets/resume/Certificate-ISO14971-2019.png">
      <div class="certificate-title">ISO14971:2019</div>
      <div class="certificate-subtitle">Risk Management.</div>
    </div>
    <!-- Cybersecurity -->
    <div class="certificate">
      <img src="assets/resume/Certificate-Cybersecurity.png">
      <div class="certificate-title">Cybersecurity</div>
    </div>
  </div>
</div>
