<div class="skills">
  <div class="title">Skills</div>
  <div class="content">
    <!-- Programming -->
    <div class="row">
      <div class="skills-title">Programming</div>
      <div class="skills-items">
        <div class="skills-items-item">
          <img src="assets/icons/c-sharp.png">
          <span>C#</span>
        </div>
        <div class="skills-items-item">
          <img src="assets/icons/python.png">
          <span>Python</span>
        </div>
        <div class="skills-items-item">
          <img src="assets/icons/golang.png">
          <span>Golang</span>
        </div>
        <div class="skills-items-item">
          <img src="assets/icons/javascript.png">
          <span>JavaScript</span>
        </div>
        <div class="skills-items-item">
          <img src="assets/icons/angularjs.png">
          <span>Angularjs</span>
        </div>
        <div class="skills-items-item">
          <img src="assets/icons/html5.png">
          <span>html</span>
        </div>
      </div>
    </div>
    <!-- CI/CD -->
    <div class="row">
      <div class="skills-title">CI/CD</div>
      <div class="skills-items">
        <div class="skills-items-item">
          <img src="assets/icons/jenkins.png">
          <span>Jenkins</span>
        </div>
        <div class="skills-items-item">
          <img src="assets/icons/github.png">
          <span>GitHub Actions</span>
        </div>
      </div>
    </div>
    <!-- Version Control -->
    <div class="row">
      <div class="skills-title">Version Control</div>
      <div class="skills-items">
        <div class="skills-items-item">
          <img src="assets/icons/subversion.png">
          <span>Subversion</span>
        </div>
        <div class="skills-items-item">
          <img src="assets/icons/github.png">
          <span>GitHub</span>
        </div>
      </div>
    </div>
    <!-- Cloud Service -->
    <div class="row">
      <div class="skills-title">Cloud Service</div>
      <div class="skills-items">
        <div class="skills-items-item">
          <img src="assets/icons/amazon-web-services.png">
          <span>Amazon Web Service</span>
        </div>
        <div class="skills-items-item">
          <img src="assets/icons/google-cloud-platform.png">
          <span>Google Cloud Platform</span>
        </div>
      </div>
    </div>
    <!-- Database -->
    <div class="row">
      <div class="skills-title">Database</div>
      <div class="skills-items">
        <div class="skills-items-item">
          <img src="assets/icons/microsoft-sql-server.png">
          <span>SQL Server</span>
        </div>
        <div class="skills-items-item">
          <img src="assets/icons/mysql.png">
          <span>MySQL</span>
        </div>
        <div class="skills-items-item">
          <img src="assets/icons/oracle.png">
          <span>ORACLE</span>
        </div>
        <div class="skills-items-item">
          <img src="assets/icons/mongodb.png">
          <span>MongoDB</span>
        </div>
      </div>
    </div>
    <!-- Others -->
    <div class="row">
      <div class="skills-title">Others</div>
      <div class="skills-items">
        <div class="skills-items-item">
          <img src="assets/icons/nginx.png">
          <span>NGINX</span>
        </div>
        <div class="skills-items-item">
          <img src="assets/icons/google-firebase-console.png">
          <span>Firebase</span>
        </div>
        <div class="skills-items-item">
          <img src="assets/icons/RabbitMQ.svg">
          <span>RabbitMQ</span>
        </div>
        <div class="skills-items-item">
          <img src="assets/icons/docker.png">
          <span>Docker</span>
        </div>
        <div class="skills-items-item">
          <img src="assets/icons/dot-net.svg">
          <span>.NET MVC</span>
        </div>
        <div class="skills-items-item">
          <img src="assets/icons/flask.png">
          <span>Flask</span>
        </div>
      </div>
    </div>
  </div>
</div>
