<div class="app-container">
  <div class="app-header">
    <div class="app-header-logo">
      {{author}}
    </div>
    <div class="app-header-navigation">
      <ul class="nav-list">
        <li>
          <!-- <a [routerLink]="" [routerLinkActiveOptions]="{ exact: false }" routerLinkActive="active">Home</a> -->
        </li>
      </ul>
    </div>
  </div>
  <div class="app-content">
    <!-- introduction -->
    <app-introduction class="wrapper"></app-introduction>
    <!-- Skills -->
    <app-skills class="wrapper"></app-skills>
    <!-- Work Experience -->
    <app-work-experiences class="wrapper"></app-work-experiences>
    <!-- Education -->
    <app-education class="wrapper"></app-education>
    <!-- Certificate -->
    <app-certificates class="wrapper"></app-certificates>
  </div>
</div>

<div class="contact-box">
  <a href="mailto:{{mail}}">
    <icon-mail class="s26"></icon-mail>
  </a>
  <a href="{{linkedin}}" target="_blank">
    <icon-linkedin class="s26"></icon-linkedin>
  </a>
</div>

<footer>
  <div>© 2022 {{author}}. All Right Reserved.</div>
</footer>
