<div class="app-container">
  <div class="app-header">
    <div class="app-header-logo">
      {{author}}
    </div>
    <div class="app-header-navigation">
      <ul class="nav-list">
        <li>
          <!-- <a [routerLink]="" [routerLinkActiveOptions]="{ exact: false }" routerLinkActive="active">Home</a> -->
        </li>
      </ul>
    </div>
  </div>
  <div class="app-content">
    <!-- About me -->
    <div class="about-me wrapper">
      <div class="title">ABOUT ME</div>
      <div class="content">
        <div class="content-left">
          <img src="assets/shuwei.webp">
        </div>
        <div class="content-right">
          <div class="info-1">Software Engineer at Singular Wings Medical.</div>
          <div class="info-2 font-italic">
            A creative problem-solver with solid programming skill possesses 7-year experience as a software
            engineer.<br>

            Have been develop C# in .Net environment for 6-years and developing python now.<br>

            Good at flow design, CI/CD, data structure design, system maintenance, problem analysis and T-SQL
            performance
            tuning.<br>

            Experienced in Amazon Web Services, Google Cloud Platform, Jenkins, GitHub Actions, Azure Application
            Insights
            and Amazon CloudWatch.<br>

            Familiar with Scrum, Unit Test, Integration Test and web API development.
          </div>
          <div class="info-3">
            <icon-google-map class="s26"></icon-google-map>
            <span>Hsinchu, Taiwan</span>
          </div>
        </div>
      </div>
    </div>
    <!-- Skills -->
    <div class="skills wrapper">
      <div class="title">Skills</div>
      <div class="content">
        <!-- Programming -->
        <div class="row">
          <div class="skills-title">Programming</div>
          <div class="skills-items">
            <div class="skills-items-item">
              <img src="assets/icons/c-sharp.png">
              <span>C#</span>
            </div>
            <div class="skills-items-item">
              <img src="assets/icons/python.png">
              <span>Python</span>
            </div>
            <div class="skills-items-item">
              <img src="assets/icons/golang.png">
              <span>Golang</span>
            </div>
            <div class="skills-items-item">
              <img src="assets/icons/javascript.png">
              <span>JavaScript</span>
            </div>
            <div class="skills-items-item">
              <img src="assets/icons/angularjs.png">
              <span>Angularjs</span>
            </div>
            <div class="skills-items-item">
              <img src="assets/icons/html5.png">
              <span>html</span>
            </div>
          </div>
        </div>
        <!-- CI/CD -->
        <div class="row">
          <div class="skills-title">CI/CD</div>
          <div class="skills-items">
            <div class="skills-items-item">
              <img src="assets/icons/jenkins.png">
              <span>Jenkins</span>
            </div>
            <div class="skills-items-item">
              <img src="assets/icons/github.png">
              <span>GitHub Actions</span>
            </div>
          </div>
        </div>
        <!-- Version Control -->
        <div class="row">
          <div class="skills-title">Version Control</div>
          <div class="skills-items">
            <div class="skills-items-item">
              <img src="assets/icons/subversion.png">
              <span>Subversion</span>
            </div>
            <div class="skills-items-item">
              <img src="assets/icons/github.png">
              <span>GitHub</span>
            </div>
          </div>
        </div>
        <!-- Cloud Service -->
        <div class="row">
          <div class="skills-title">Cloud Service</div>
          <div class="skills-items">
            <div class="skills-items-item">
              <img src="assets/icons/amazon-web-services.png">
              <span>Amazon Web Service</span>
            </div>
            <div class="skills-items-item">
              <img src="assets/icons/google-cloud-platform.png">
              <span>Google Cloud Platform</span>
            </div>
          </div>
        </div>
        <!-- Database -->
        <div class="row">
          <div class="skills-title">Database</div>
          <div class="skills-items">
            <div class="skills-items-item">
              <img src="assets/icons/microsoft-sql-server.png">
              <span>SQL Server</span>
            </div>
            <div class="skills-items-item">
              <img src="assets/icons/mysql.png">
              <span>MySQL</span>
            </div>
            <div class="skills-items-item">
              <img src="assets/icons/oracle.png">
              <span>ORACLE</span>
            </div>
            <div class="skills-items-item">
              <img src="assets/icons/mongodb.png">
              <span>MongoDB</span>
            </div>
          </div>
        </div>
        <!-- Others -->
      </div>
    </div>
    <!-- Work Experience -->
    <div class="work-experiences wrapper">
      <div class="title">Work Experience</div>
      <div class="content">
        <!-- SWM -->
        <div class="work-experience">
          <div class="work-experience-company">
            <div>
              <img class="company-logo" src="assets/resume/swm-logo.png">
            </div>
            <div>
              <div class="font-job-title">Software Engineer</div>
              <div class="font-company">Singular Wings Medical</div>
              <div class="font-time">Jun 2020 - Present</div>
              <div class="font-area">Hsinchu, Taiwan</div>
            </div>
            <div class="work-skills">
              <ul>
                <li>
                  Language :
                  <ul>
                    <li>Python</li>
                  </ul>
                </li>
                <li>
                  Framework :
                  <ul>
                    <li>Flask</li>
                  </ul>
                </li>
                <li>
                  Version Control :
                  <ul>
                    <li>GitHub</li>
                  </ul>
                </li>
              </ul>
              <ul>
                <li>
                  CI/CD :
                  <ul>
                    <li>GitHub Actions</li>
                  </ul>
                </li>
                <li>
                  Cloud Service : GCP
                  <ul>
                    <li>Cloud Engine</li>
                    <li>Cloud Source Repositories</li>
                    <li>Cloud SQL</li>
                  </ul>
                </li>
                <li>
                  Authentication :
                  <ul>
                    <li>Firebase</li>
                  </ul>
                </li>
              </ul>
              <ul>
                <li>
                  Platform :
                  <ul>
                    <li>Linux</li>
                  </ul>
                </li>
                <li>
                  Server :
                  <ul>
                    <li>NGINX</li>
                    <li>Gunicorn</li>
                  </ul>
                </li>
              </ul>
              <ul>
                <li>
                  Database :
                  <ul>
                    <li>MySQL</li>
                    <li>MongoDB</li>
                  </ul>
                </li>
                <li>
                  Agile :
                  <ul>
                    <li>Scrum</li>
                    <li>Azure DevOps (VSTS)</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div class="work-experience-job">
            <p>
              <strong class="text-underline">
                Back-end Engineer<br>
                Server Reliability Engineer<br>
              </strong>
              <br>
              Design architecture and data structure.<br>
              Build the product from 0 to 1.<br>
              <br>
              Developed a health group monitoring system, specifically for the cardiovascular health and respiration
              related diseases.<br>
              Brings a smart and comfort way helping people identify if they are deemed at the risk of CVD and OSA then
              go for further medication.
            </p>
            <ul class="mt-3">
              <li>Products :
                <ul>
                  <li class="mb-3">
                    <img src="assets/resume/swm-app-BeatinfoMountain.png" height="59px">
                    <span class="ms-2 font-weight-600 text-info">Beatinfo Mountain</span>
                    <ul>
                      <li>
                        Health monitoring system for climbers, could record real-time physiological signals such as
                        respiration, skin temperature, one-lead ECG signals, and the location of climbing party.
                      </li>
                      <li>
                        Providing climbing plan, temperature, RH, and POP for climbers.
                      </li>
                      <li>
                        Aiming to prevent mountaineering disasters.
                      </li>
                    </ul>
                  </li>
                  <li class="mb-3">
                    <img src="assets/resume/swm-app-BeatinfoHealth.png" height="59px">
                    <span class="ms-2 font-weight-600 text-info">Beatinfo Health</span>
                    <ul>
                      <li>
                        Health monitoring system for health management, could record real-time physiological signals
                        such as respiration, skin temperature and one-lead ECG signals.
                      </li>
                      <li>
                        Providing HRV analysis, PSG, CVD, and health report.
                      </li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li class="mb-3">
                Design and build the Cloud Architecture.
                <div class="text-center">
                  <img src="assets/resume/Design-CloudArchitecture.png" class="swm-design">
                </div>
                <ul>
                  <li>Firebase authentication as user verification.</li>
                  <li>Nginx as a reverse proxy server for HTTP, HTTPS and Web Socket protocols, as well as a load
                    balancer.</li>
                  <li>Gunicorn as a Python WSGI HTTP Server.</li>
                </ul>
              </li>
              <li class="mb-3">
                Design and build the project architecture with Flask.
                <div class="text-center">
                  <img src="assets/resume/Design-Flask.png" class="swm-design">
                </div>
                <ul>
                  <li>Writing integration test with Pytest to ensure the reliability.</li>
                </ul>
              </li>
              <li class="mb-3">
                Design the data structure of MySQL and MongoDB.
                <div class="text-center">
                  <img src="assets/resume/Design-DataStructure.png" class="swm-design">
                </div>
                <ul>
                  <li>Use SQLAlchemy and ORM to defined MySQL data table and accessed database.</li>
                  <li>Use MongoEngine and ORM to accessed NO-SQL database.</li>
                </ul>
              </li>
              <li>
                Assist Product Manager in defining System flow.
                <div class="text-center">
                  <img src="assets/resume/Design-SystemFlow.png" class="swm-design">
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- 91APP -->
        <div class="work-experience">
          <div class="work-experience-company">
            <div>
              <img class="company-logo" src="assets/resume/91APP-logo.png">
            </div>
            <div>
              <div class="font-job-title">Senior Software Engineer</div>
              <div class="font-company">91APP</div>
              <div class="font-time">Sep 2017 - Jun 2020</div>
              <div class="font-area">Taipei, Taiwan</div>
            </div>
            <div class="work-skills">
              <ul>
                <li>
                  Language :
                  <ul>
                    <li>C#</li>
                    <li>JavaScript</li>
                    <li>PowerShell</li>
                    <li>Golang</li>
                  </ul>
                </li>
                <li>
                  Framework :
                  <ul>
                    <li>.NET MVC</li>
                    <li>.NET Core</li>
                    <li>Angular</li>
                  </ul>
                </li>
                <li>
                  Version Control :
                  <ul>
                    <li>GitHub</li>
                  </ul>
                </li>
              </ul>
              <ul>
                <li>
                  CI/CD :
                  <ul>
                    <li>Jenkins</li>
                  </ul>
                </li>
                <li>
                  Cloud Service : AWS
                  <ul>
                    <li>EC2</li>
                    <li>Cloud Watch</li>
                    <li>S3</li>
                    <li>Glacier</li>
                    <li>DynamoDB</li>
                  </ul>
                </li>
              </ul>
              <ul>
                <li>
                  Platform :
                  <ul>
                    <li>Windows</li>
                  </ul>
                </li>
                <li>
                  Server :
                  <ul>
                    <li>IIS</li>
                  </ul>
                </li>
                <li>
                  Queue :
                  <ul>
                    <li>RabbitMQ</li>
                    <li>NMQ(Private Queue)</li>
                  </ul>
                </li>
              </ul>
              <ul>
                <li>
                  Database :
                  <ul>
                    <li>SQL Server</li>
                    <li>DynamoDB</li>
                  </ul>
                </li>
                <li>
                  Agile :
                  <ul>
                    <li>Scrum</li>
                    <li>Azure DevOps (VSTS)</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div class="work-experience-job">
            <!-- E-Commerce Team -->
            <p>
              <strong class="text-underline">E-Commerce Team</strong>
              (2019/01~2020/06)<br>
              <br>
              Develop shopping services and increasing sales performance by promotion modules.<br>
              Design and build payment flow and payment logistics integration.<br>
            </p>
            <ul class="mt-3">
              <li>
                <span class="font-weight-500">Sales promotion Module</span>
                <ul>
                  <li>Re-design and built new promotion module with Factory Pattern, and made the following new types of
                    promotion could reuse it.</li>
                  <li>Writing unit test to ensure the reliability. (xUnit)</li>
                </ul>
              </li>
              <li>
                <span class="font-weight-500">Promotion Engine</span>
                <ul>
                  <li>Co-working with the arch team to build the calculation method of sales promotion on docker.</li>
                </ul>
              </li>
              <li>
                <img src="assets/resume/JKOPAY.png" width="76px">
                <span class="ms-2 font-weight-500">Add payment method: JKoPay</span>
                <ul>
                  <li>Designed and built new Third-Party Payment flow. (LinePay, ApplePay, MoPay, JKoPay)</li>
                  <li>Designed and built repay flow.</li>
                </ul>
              </li>
            </ul>
            <!-- Server Reliability Group -->
            <p class="mt-3">
              <strong class="text-underline">Server Reliability Group</strong>
              (2017/09~2019/01)<br>
              <br>
              Improving system effective to make sure system reliability and online 24 hours.<br>
            </p>
            <ul class="mt-3">
              <li>
                <span class="font-weight-600">Consultant</span>
                <ul>
                  <li>Giving feature teams advice on avoiding performance issues.</li>
                  <li>Supporting the DBA team to improve query performance with T-SQL tuning and LINQ tuning.</li>
                  <li>Identified potential risks by user behavior analysis. (Application Insight, Cloud Watch)</li>
                </ul>
              </li>
              <li>
                <span class="font-weight-600">Special forces</span>
                <ul>
                  <li>Complete urgent tasks in time.</li>
                </ul>
              </li>
              <li>
                <span class="font-weight-600">Emergency department</span>
                <ul>
                  <li>Identified the cause of emergency issues, and advised feature team how to fix it.</li>
                  <li>Giving the first aid treatment to the emergency issues, preventing enlargement loss.</li>
                </ul>
              </li>
              <li>
                <span class="font-weight-600">
                  Successfully supervised 3 members to achieved the most efficient team
                </span>
                <ul>
                  <li>Reached a historic high count of monthly fixed issue.</li>
                  <li>Identified the causes of system that troubled for many years and fixed them perfectly.</li>
                </ul>
              </li>
              <li>
                <span class="font-weight-600">
                  Re-architecture cloud machines of Online store management System
                </span>
                <ul>
                  <li>Separated the website server and the API server, rewriting CI/CD flow behavior.</li>
                  <li>Reducing the cost of EC2 on AWS about 57%.</li>
                  <li>Increasing the speed of CI/CD flow twice as the origin.</li>
                </ul>
              </li>
              <li>
                <span class="font-weight-600">
                  Re-designed the CI/CD flow of the foreground system
                </span>
                <ul>
                  <li>Increasing the efficiency by 6 times.</li>
                </ul>
              </li>
              <li>
                <span class="font-weight-600">
                  Designed and Built the CI/CD flow of the queue system (use Golang)
                </span>
                <ul>
                  <li>Saving 40 minutes per deployment.</li>
                  <li>Improving education cost of “how to release”.</li>
                </ul>
              </li>
              <li>
                <span class="font-weight-600">
                  Create operating manuals for all the CI/CD flows
                </span>
                <ul>
                  <li>Making a simple way to learn CI/CD.</li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <!-- ARES -->
        <div class="work-experience">
          <div class="work-experience-company">
            <div>
              <img class="company-logo" src="assets/resume/ARES.png">
            </div>
            <div>
              <div class="font-job-title">Consultant</div>
              <div class="font-company">ARES International Corp</div>
              <div class="font-time">Jun 2014 - Aug 2017</div>
              <div class="font-area">Hsinchu, Taiwan</div>
            </div>
            <div class="work-skills">
              <ul>
                <li>
                  Language :
                  <ul>
                    <li>C#</li>
                    <li>JavaScript</li>
                  </ul>
                </li>
                <li>
                  Framework :
                  <ul>
                    <li>ASP.NET</li>
                    <li>Angular</li>
                  </ul>
                </li>
                <li>
                  Version Control :
                  <ul>
                    <li>Subversion</li>
                  </ul>
                </li>
              </ul>
              <ul>
                <li>
                  Platform :
                  <ul>
                    <li>Windows</li>
                  </ul>
                </li>
                <li>
                  Server :
                  <ul>
                    <li>IIS</li>
                  </ul>
                </li>
                <li>
                  Database :
                  <ul>
                    <li>Oracle</li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <div class="work-experience-job">
            <div class="text-center">
              <img src="assets/resume/CiMES.png" width="84px">
            </div>
            <p class="mt-3">
              Developed Manufacturing Execution System(MES) and import it to promote customer's production efficiency.
            </p>
            <ul class="mt-3">
              <li>Develop Hybrid Application with Angular/Cordova.</li>
              <li>System Analysis.</li>
              <li>System Design.</li>
              <li>Testing Report.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Education -->
    <!-- Certificate -->
  </div>
</div>

<div class="contact-box">
  <a href="mailto:{{mail}}">
    <icon-mail class="s26"></icon-mail>
  </a>
  <a href="{{linkedin}}" target="_blank">
    <icon-linkedin class="s26"></icon-linkedin>
  </a>
</div>

<footer>
  <div>© 2022 {{author}}. All Right Reserved.</div>
</footer>
