<div class="app-container">
  <div class="app-header">
    <div class="app-header-logo">
      Shu-Wei Liu
    </div>
    <div class="app-header-navigation">
      <ul class="nav-list">
        <li>
          <!-- <a [routerLink]="" [routerLinkActiveOptions]="{ exact: false }" routerLinkActive="active">Home</a> -->
        </li>
      </ul>
    </div>
  </div>
  <div class="app-content">
    <div class="about-me">
      <div class="title">ABOUT ME</div>
      <div class="content">
        <div class="content-left">
          <img src="assets/shuwei.webp">
        </div>
        <div class="content-right">
          <div class="info-1">Software Engineer at Singular Wings Medical.</div>
          <div class="info-2">
            A creative problem-solver with solid programming skill possesses 7-year experience as a software
            engineer.<br>

            Have been develop C# in .Net environment for 6-years and developing python now.<br>

            Good at flow design, CI/CD, data structure design, system maintenance, problem analysis and T-SQL
            performance
            tuning.<br>

            Experienced in Amazon Web Services, Google Cloud Platform, Jenkins, GitHub Actions, Azure Application
            Insights
            and Amazon CloudWatch.<br>

            Familiar with Scrum, Unit Test, Integration Test and web API development.
          </div>
          <div class="info-3">
            <icon-google-map class="s26"></icon-google-map>
            <span>Hsinchu, Taiwan</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
